html {
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app-container {
    height: 100vh;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0,150,136,1) 21%, rgba(216,219,213,1) 21%);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    display: flex;

}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

figure > img {
    display: block;
}

:root {
    --light-gray: #EAEAEA;
    --light: #FFFFFF;
    --blue-green: #009688;
    --light-green: #CFF6B1;
    --light-blue: #8EDAFC;
    --blue-gray: #D8DBD5;
    --dark-gray: #E5E7E7;
}

/* Utility classes */

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
}

.user-profile {
    background-color: var(--light-gray);
    justify-content: space-between;
}

.active {
    background-color: var(--dark-gray);
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 60px;
}

.user-profile-photo > img {
    width: 40px;
    border-radius: 50%;
}

.serving {
    background-color: var(--light-blue);
}

.serving-icon {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: var(--light);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.chats-btn {
    width: 40px;
    line-height: 30px;
}

.contacts-list {
    flex-grow: 1;
}

.contacts-searchbar > input {
    width: 100%;
    line-height: 30px;
}



/* main chat */

/* sidebar main chat */

.main-chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
}

.sidebar-chat {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: gray;
    height: 60px;
}

.current-contact {
    display: flex;
    align-items: center;
}

.side-chat-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* main chat body */

.main-chat-container {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    
}

.user-message {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 25%;
    max-width: 200px;
    text-align: center;
}

.sent {
    background-color: var(--light-green);
    align-self: flex-end;
}

.received {
    background-color: var(--light);
    align-self: flex-start;
}

/* type in message bar */

.type-in-message-bar {
    display: flex;
    align-items: center;
    padding : 5px 0;
}

.type-in-message-bar i {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0 30px;
}
.type-in-message-area {
    flex-grow: 1;
}

.type-in-message-area input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 18px;
}

/* debugs */

/* .debug .app-container {
    border: 1px solid black;
    margin: 20px;
    padding: 20px ;
    height: 100px;
} */

/* .debug .container {
    border: 1px solid red;
     background-color: gray; 
    padding: 20px;
} 
*/
/* .debug .sidebar {
    border: 1px solid blue;
    width: 300px;

} */

/* .debug .main-chat {
    border: 1px solid green;
    
} */