html {
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app-container {
    height: 100vh;
    padding-top: 30px;
}

.container {
    width: 800px;
    margin: 0 auto;
    height: 900px;
    display: flex;

}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

figure > img {
    display: block;
}

:root {
    --light-gray: #EAEAEA;
    --light: #FFFFFF;
    --blue-green: #009688;
    --light-green: #CFF6B1;
}

/* Utility classes */

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    
}

.user-profile {
    background-color: var(--light-gray);
    justify-content: space-between;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.user-profile-photo > img {
    width: 40px;
    border-radius: 50%;
}

.serving {
    background-color: var(--light-gray);
}

.serving-icon {
    width: 40px;
    display: flex;
    background-color: var(--light);
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.chats-btn {
    width: 40px;
    line-height: 30px;
}

.contacts-searchbar > input {
    width: 100%;
    line-height: 30px;
}



/* main chat */

/* sidebar main chat */

.main-chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-chat {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: gray;
}

.current-contact {
    display: flex;
    align-items: center;
}

.side-chat-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* main chat body */

.main-chat-container {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    
}

.user-message {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 25%;
}

.sent {
    background-color: var(--light-green);
    align-self: flex-end;
}

.received {
    background-color: var(--light);
    align-self: flex-start;
}



/* debugs */

/* .debug .app-container {
    border: 1px solid black;
    margin: 20px;
    padding: 20px ;
    height: 100px;
} */

/* .debug .container {
    border: 1px solid red;
     background-color: gray; 
    padding: 20px;
} 
*/
/* .debug .sidebar {
    border: 1px solid blue;
    width: 300px;

} */

/* .debug .main-chat {
    border: 1px solid green;
    
} */